/****** General ***********/
* {
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

:root {
  --main-color: #0065fc;
  --main-bg-color: #f2f2f2;
  --filter-bg-color: #deebff;
  --info-button-color: #d9d9d9;
}

.fa-solid {
  color: var(--main-color);
}
.fa-white {
  color: white;
}

.fa-black {
  color: black;
}

body {
  margin: 0;
  height: 1889px;
  box-sizing: border-box;
}

.main-container {
  background-color: white;
  width: 100%;
  max-width: 1440px;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

.section-title {
  margin: 0;
  font-size: 22px;
}

.section-button {
  font-size: 18px;
  font-weight: bold;
  border-style: hidden;
  margin: 30px 0 0 0;
  cursor: pointer;
}

.section-button:hover {
  text-decoration: underline 2px solid black;
}

.padding-section {
  padding: 30px;
}

.card {
  background-color: white;
  border-radius: 20px;
  padding: 5px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-title {
  font-size: 16px;
}

.card-title:hover {
  text-decoration: underline;
}
.euro {
  font-weight: 700;
}

.neutral-star {
  color: var(--main-bg-color);
}

/* Header et Nav */
.header-booki {
  width: 100%;
  padding: 0 50px;
}

.header-nav {
  box-sizing: border-box;
  width: calc(100% - 50px);
  height: 79px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  width: 100%;
}

.logo {
  width: 69.09px;
  height: 19px;
}

.logo img {
  height: 100%;
}

.nav-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  height: 35px;
  padding-left: 0;
}

.nav-hebergements {
  width: 100%;
  height: 19px;
}

.nav-activites {
  width: 100%;
  height: 19px;
  padding-left: 68px;
}

.nav-hebergements:hover {
  color: var(--main-color);
}

.overline-hebergements {
  padding-top: 20px;
  position: relative;
}

.overline-hebergements:hover::before {
  content: "";
  width: 100%;
  height: 2px;
  position: absolute;
  top: 0;
  left: 0;

  display: block;
  background: var(--main-color);
}

.nav-activites:hover {
  color: var(--main-color);
}

.overline-activites {
  padding-top: 20px;
  position: relative;
}

.overline-activites:hover::before {
  content: "";
  width: 100%;
  height: 2px;
  position: absolute;
  top: 0;
  left: 0;

  display: block;
  background: var(--main-color);
}

.header-title {
  font-size: 22px;
  margin: 0 0 8px 0;
}

.header-title-text {
  margin: 30px 0 35px 0;
}
.header-text {
  margin: 0;
}

.filterStyle {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-weight: bold;
  font-size: 18px;
  margin: 35px 0;
}

.size-space-icone {
  margin-right: 10px;
  font-size: 22px;
}

.cta {
  background: white;

  border-style: solid;
  border-width: 2px;
  border-radius: 50px;
  border-color: #d9d9d9;

  padding: 4px 19px;
  margin: 0 0 0 15px;
  height: 50px;

  font-size: 17px;
  font-weight: bold;
}

.cta:hover {
  background-color: var(--filter-bg-color);
}

.input-searchBar {
  width: 195px;
  font-size: 18px;
  font-weight: bold;
  color: black;
  height: 49px;
  border-style: solid;
  border-right: hidden;
  padding: 0 0 0 10px;
  text-align: center;
  border-color: var(--main-bg-color);
}

.searchBar {
  height: 49px;
  width: 377px;
  display: flex;
  border-color: white;
  font-size: 18px;
  font-weight: bold;
  margin: 35px 0;
}

.searchBarButton {
  background-color: var(--main-color);
  color: white;

  height: 49px;
  width: 132px;

  font-size: 18px;
  font-weight: bold;
  font-family: "Raleway", sans-serif;

  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border-style: hidden;
}

.searchBarButton i {
  display: none;
  justify-content: center;
  width: 22px;
  height: 22px;
}

.location {
  width: 50px;
  height: 49px;
  background: var(--main-bg-color);
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px 0 0 15px;
}

.infos {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  font-size: 16px;
  margin-bottom: 35px;
}

.infos-figure {
  width: 24px;
  height: 24px;
  margin-right: 10px;

  display: flex;
  align-items: center;
  justify-content: center;

  border: 1px solid var(--info-button-color);
  border-radius: 50%;

  font-size: 10px;
}

.infos-text {
  margin: 0;
}

/*Footer*/

.footer-div {
  display: flex;
  flex-direction: column;
  line-height: 15px;
}

.directionRow {
  display: flex;
  flex-direction: row;
}

.title-list {
  margin: 0 0 15px 0;
}

.list {
  margin: 0 0 15px 0;
}

.a-propos-list {
  list-style-type: none;
  padding: 0;
  margin-top: 10px;
  margin: 0 0 15px 0;
}

.a-propos-list a:hover {
  text-decoration: underline 2px solid black;
}

.nos-hebergements-list {
  list-style: none;
  padding: 0;
  margin-top: 10px;
}

.nos-hebergements-list a:hover {
  text-decoration: underline 2px solid black;
}

.nos-hebergements-list {
  margin: 0 0 15px 0;
}

.assistance-list {
  list-style-type: none;
  padding-left: 0;
  margin-top: 10px;
  margin: 0 0 15px 0;
}

.assistance-list a:hover {
  text-decoration: underline 2px solid black;
}

.footer-list {
  background-color: var(--main-bg-color);

  display: flex;
  justify-content: flex-start;
  flex-direction: row;

  height: 100%;
  margin: 0 50px 58px 50px;
}

.title-list {
  font-weight: bold;
  font-size: 18px;
}

.footer-div .list {
  font-size: 16px;
}
.footer-div {
  width: calc(100% / 3);
  padding: 20px;
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
  display: flex;
  justify-content: space-between;
  width: 100%;

  padding: 0 50px;
}

.hebergements-and-populaires section {
  border-radius: 20px;
  padding: 30px;
  box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
  background-color: var(--main-bg-color);
  width: 65%;
}

.hebergements-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hebergements-cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.hebergements-cards .card {
  margin-top: 30px;
}

.hebergements .card {
  width: calc(100% / 3 - 20px);
}

.hebergements .card .card-figure {
  width: 100%;
  height: 136px;

  border-radius: 16px 16px 0 0;

  overflow: hidden;
}

.hebergements-cards img {
  width: 100%;
  height: 100%;
}

.hebergements-cards .card-content {
  width: 100%;
  padding: 0 15px 15px 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.hebergements-cards .card-title {
  margin: 4px 0 8px 0;
  padding: 0;
}

.hebergements-cards .card-subtitle {
  margin: 0 0 8px 0;
}

.hebergements-cards .card-rating {
  margin-bottom: 5px;
}

/****** Populaires ***********/
.populaires {
  background-color: var(--main-bg-color);
  width: 35%;
  margin: 0 0 0 40px;
}

.populaires-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 22px;
}

.populaires-cards {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.card-width {
  width: 100%;
  display: flex;
}

.populaires-cards .card {
  display: flex;
  align-items: flex-start;
  margin: 30px 0 0 0;
  width: 100%;
  height: 100%;
}

.populaires .card {
  height: calc(100% / 3 - 20px);
}

.populaires .card .card-figure {
  width: 123px;
  height: 146px;

  border-radius: 16px 0 0 16px;

  overflow: hidden;
}

.populaires-cards img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.populaires-cards .card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 10px 5px 5px 15px;
  height: 146px;
}

.populaires .card .card-txt {
  height: 85px;
}

.populaires-cards .card-title {
  margin-top: 10px;
  margin: 0 0 5px 0;
}

.populaires-cards .card-subtitle {
  margin: 0;
}

.populaires-cards .card-rating {
  margin: 0;
}

/*Activites*/
.activites {
  padding: 30px;
  margin: 35px 50px;
}

.activites-title {
  margin: 0;
}

.activites-cards {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.activites-cards .card {
  margin: 30px 0 0 0;
  width: 100%;
  height: 100%;
  padding: 0;
}

.activites .card {
  width: calc(100% / 4 - 30px);
}

.activites-cards .img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.activites .card .card-figure {
  width: 100%;
  height: 380px;

  border-top-left-radius: 20px;
  border-top-right-radius: 20px;

  overflow: hidden;
}

.activites .card .card-txt {
  height: 70px;
  display: flex;
  align-items: center;
}
.activites-cards .card-title {
  padding: 0 19px;
  margin: 0;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
  .header-text {
    font-size: 16px;
  }
  .filter-title {
    margin: 0 0 20px 0;
  }
  .filterStyle {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    font-weight: bold;
    font-size: 18px;
    margin: 35px 0;
  }

  .cta {
    font-size: 16px;
    margin: 0 15px 0 0;
  }

  .hebergements-and-populaires {
    flex-direction: column;
    align-items: center;
  }

  .hebergements {
    width: 100%;
  }

  .populaires {
    width: 100%;
    margin: 50px 0 0 0;
    padding: 30px;
  }

  .populaires-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 0;
  }

  .populaires-cards a {
    width: 30%;
  }

  .populaires-cards .card-title {
    font-size: 14px;
  }

  .populaires-cards .card-subtitle {
    font-size: 13px;
  }

  .activites {
    height: 390px;
    margin-top: 35px;
    margin-bottom: 35px;
  }

  .activites .card {
    width: calc(90% / 4);
    height: 270px;
  }

  .activites-cards .img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }

  .activites-cards .card {
    margin: 30px 0 0 0;
    height: 270px;
    padding: 0;
  }

  .activites .card .card-figure {
    width: 100%;
    height: 200px;

    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

    overflow: hidden;
  }
}

/* Breakpoint transition Medium devices/Small devices (less/equal than 824px) */
@media (max-width: 824px) {
  .searchBar {
    width: calc(100% - 10px);
  }

  .input-searchBar {
    width: calc(100% - 10px);
    font-size: 18px;
    font-weight: bold;
    color: black;
    height: 49px;
    border-style: solid;
    border-right: hidden;
    border-color: var(--main-bg-color);
  }

  .searchBarButton {
    position: absolute;
    right: 50px;
    width: 49px;
    height: 49px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
  }

  .searchBarButton i {
    display: inline-block;
  }

  .searchBarButton-text {
    display: none;
  }

  .filterStyle {
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
    font-weight: bold;
    font-size: 18px;
    margin: 35px 0 15px 0;
    width: 100%;
  }

  .filter-title {
    margin: 0;
    width: 54px;
    height: 21px;
  }

  .filter-buttons {
    width: 105%;
  }

  .cta {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: white;

    border-style: solid;
    border-width: 2px;
    border-radius: 50px;
    border-color: #d9d9d9;

    margin: 20px 20px 20px 0;
    padding: 19px;
    width: calc(100% / 2 - 30px);
    height: 50px;
    font-size: 16px;
    font-weight: bold;
  }
}
/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
  body {
    margin: 0;
  }

  h1 {
    font-size: 22px;
    line-height: 25.83px;
  }

  .main-container {
    background-color: white;
    width: 100%;
    max-width: 1440px;
    padding: 0;
    box-sizing: border-box;
  }
  .header-booki {
    margin: 0;
    padding: 0;
  }

  .header-nav {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 0 94px 0;
  }

  .logo {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 19px;
    margin: 30px 0 0 0;
  }

  .nav-list {
    display: flex;
    justify-content: space-between;

    margin: 30px 0;

    width: 100%;
    height: 36px;
  }

  .nav-hebergements {
    width: calc(100% / 2);
    height: 19px;
  }

  .overline-hebergements {
    padding-bottom: 15px;
    position: relative;
    width: 100%;
    display: block;
    text-align: center;
  }

  .overline-hebergements:hover::before {
    content: "";
    width: 100%;
    height: 0;
    position: relative;
    top: 0;
    left: 0;
  }

  .overline-hebergements:hover::after {
    content: "";
    width: 383.99px;
    height: 2px;
    position: relative;
    top: 15px;
    left: 0;

    display: block;
    background: var(--main-color);
  }

  .overline-hebergements::after {
    content: "";
    width: 100%;
    height: 2px;
    position: relative;
    top: 15px;
    left: 0;

    display: block;
    background: var(--main-bg-color);
  }

  .nav-activites {
    padding-left: 0;
    width: calc(100% / 2);
    height: 19px;
  }

  .overline-activites {
    padding-bottom: 15px;
    position: relative;
    width: 100%;
    display: block;
    text-align: center;
  }

  .overline-activites:hover::before {
    content: "";
    width: 100%;
    height: 0;
    position: relative;
    top: 0;
    left: 0;

    display: block;
    background: var(--main-color);
  }

  .overline-activites:hover::after {
    content: "";
    width: 383.99px;
    height: 2px;
    position: relative;
    top: 15px;
    left: 0;

    display: block;
    background: var(--main-color);
  }

  .overline-activites::after {
    content: "";
    width: 100%;
    height: 2px;
    position: relative;
    top: 15px;
    left: 0;

    display: block;
    background: var(--main-bg-color);
  }

  .header-title-text {
    margin: 30px 0 35px 0;
    padding: 0 20px;
    width: 100%;
  }

  .header-text {
    margin: 8px 0 35px 0;
    font-size: 16px;
    width: 100%;
    height: 19px;
  }

  .searchBar {
    width: 100%;
    padding: 0 20px 0 20px;
    margin: 35px 0;
  }

  .input-searchBar {
    width: calc(100% - 50px - 20px);
    font-size: 18px;
    font-weight: bold;
    color: black;
    height: 49px;
    border-style: solid;
    border-right: hidden;
    border-color: var(--main-bg-color);
  }

  .searchBarButton {
    position: absolute;
    right: 20px;
    width: 49px;
    height: 49px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
  }

  .searchBarButton i {
    display: inline-block;
  }

  .searchBarButton-text {
    display: none;
  }

  .nav-hebergements :hover {
    color: var(--main-color);
  }

  .nav-activites :hover {
    color: var(--main-color);
  }

  .filterStyle {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    font-weight: bold;
    font-size: 18px;
    margin: 35px 0 35px 0;
    width: 100%;
  }

  .filter-title {
    margin: 0px 20px 0 20px;
    width: 54px;
    height: 21px;
  }

  .filter-buttons {
    padding: 0 20px;
    width: 100%;
  }

  .cta {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: white;

    border-style: solid;
    border-width: 2px;
    border-radius: 50px;
    border-color: #d9d9d9;

    margin: 20px 0 0 0;
    padding: 0 19px;
    width: calc(100% / 2 - 3px);
    height: 50px;
    font-size: 14px;
    font-weight: bold;
  }

  .infos {
    padding: 0 20px;
    margin: 0;
  }

  .hebergements-and-populaires {
    flex-direction: column-reverse;
    align-items: center;
    padding: 0;
  }

  .hebergements-and-populaires section {
    border-radius: 0;
    padding: 20px;
  }

  .populaires {
    background-color: var(--main-bg-color);
    width: 100%;
    height: 100%;
    margin: 35px 0 0 0;
  }

  .populaires-cards {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }

  .populaires .card {
    height: calc(100% / 3);
    margin: 15px 0 0 0;
  }

  .populaires .card .card-figure {
    width: 123px;
    height: 146px;

    border-radius: 16px 0 0 16px;

    overflow: hidden;
  }

  .populaires-cards a {
    width: 100%;
  }

  .populaires .card {
    width: 100%;
  }

  .hebergements {
    background-color: white;
    width: 100%;
  }

  .hebergements .card {
    width: 100%;
    height: 100%;
  }

  .section-button {
    font-size: 18px;
    font-weight: bold;
    border-style: hidden;
    background-color: white;
    margin: 15px 0 0 0;
  }

  .activites {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin: 0 0 35px 0;
  }

  .activites-cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
  }

  .activites .card {
    width: 100%;
  }

  .footer-list {
    background-color: var(--main-bg-color);

    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;

    padding: 30px;
    margin: 0;

    width: 100%;
    height: 100%;
  }

  .footer-div {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }
}

/* Breakpoint Small devices (less/equal than 361px) */
@media (max-width: 361px) {
  .filter-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .cta {
    width: 100%;
  }
}
